name: SonarCloud analysis with JDK 17 on Ubuntu

on:
    push:
        branches:
        - master
    pull_request:
        branches:
        - master
    workflow_dispatch:
        branches:
        - master

jobs:

    build:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
            with:
                # disabling shallow clone is recommended for improving relevancy of reporting
                fetch-depth: 0

        -   name: Set up JDKs (17 for build, 21 for sonarcloud)
            uses: actions/setup-java@v4
            with:
                java-version: |
                    17
                    21
                distribution: temurin
                cache: maven

        -   name: Build with Maven/JDK 17, test with SonarCloud
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            run: |
                # set java_home to jdk 21 for the sonarcloud scanner.
                # bytecode remains java 17 compatible due to pom settings.
                export JAVA_HOME=$JAVA_HOME_21_X64
                mvn --batch-mode --file pom.xml --activate-profiles sonarcloud clean verify

